<div id="loading-blocker"></div>
<form id="sidebar-networks">
    <fieldset ng-hide="$ctrl.isMobile" class="form-group" style="margin-bottom: 0px; margin-top: 0px;">
        <legend for="network1">Regional Train</legend>
        <div class="form-group" style="margin-bottom: 0px; margin-top: 0px;">
            <label for="network1_icon">Station Icons</label>
            <input id="network1_icon" ng-model="$ctrl.networks.network1.showIcons" type="checkbox" />
        </div>
        <div class="form-group" style="margin-bottom: 0px; margin-top: 0px;">
            <label for="network1_line">Routes</label>
            <input id="network1_line" ng-model="$ctrl.networks.network1.showLines" type="checkbox" />
        </div>
    </fieldset>
    <fieldset class="form-group" style="margin-bottom: 0px; margin-top: 0px;">
        <legend for="network2">Metropolitan Train</legend>
        <div class="form-group" style="margin-bottom: 0px; margin-top: 0px;">
            <label for="network2_icon">Station Icons</label>
            <input id="network2_icon" ng-model="$ctrl.networks.network2.showIcons" type="checkbox" />
        </div>
        <div class="form-group" style="margin-bottom: 0px; margin-top: 0px;">
            <label for="network2_line">Routes</label>
            <input id="network2_line" ng-model="$ctrl.networks.network2.showLines" type="checkbox" />
        </div>
    </fieldset>
    <fieldset class="form-group" style="margin-bottom: 0px; margin-top: 0px;">
        <legend for="network3">Metropolitan Tram</legend>
        <div class="form-group" style="margin-bottom: 0px; margin-top: 0px;">
            <label for="network3_icon">Station Icons</label>
            <input id="network3_icon" ng-model="$ctrl.networks.network3.showIcons" type="checkbox" />
        </div>
        <div class="form-group" style="margin-bottom: 0px; margin-top: 0px;">
            <label for="network3_line">Routes</label>
            <input id="network3_line" ng-model="$ctrl.networks.network3.showLines" type="checkbox" />
        </div>
    </fieldset>
    <fieldset class="form-group" style="margin-bottom: 0px; margin-top: 0px;">
        <legend for="network4">Metropolitan Bus</legend>
        <div class="form-group" style="margin-bottom: 0px; margin-top: 0px;">
            <label for="network4_icon">Station Icons</label>
            <input id="network4_icon" ng-model="$ctrl.networks.network4.showIcons" type="checkbox" />
        </div>
        <div class="form-group" style="margin-bottom: 0px; margin-top: 0px;">
            <label for="network4_line">Routes</label>
            <input id="network4_line" ng-model="$ctrl.networks.network4.showLines" type="checkbox" />
        </div>
    </fieldset>
    <fieldset ng-hide="$ctrl.isMobile" class="form-group" style="margin-bottom: 0px; margin-top: 0px;">
        <legend for="network5">Regional Coach</legend>
        <div class="form-group" style="margin-bottom: 0px; margin-top: 0px;">
            <label for="network5_icon">Station Icons</label>
            <input id="network5_icon" ng-model="$ctrl.networks.network5.showIcons" type="checkbox" />
        </div>
        <div class="form-group" style="margin-bottom: 0px; margin-top: 0px;">
            <label for="network5_line">Routes</label>
            <input id="network5_line" ng-model="$ctrl.networks.network5.showLines" type="checkbox" />
        </div>
    </fieldset>
    <fieldset ng-hide="$ctrl.isMobile" class="form-group" style="margin-bottom: 0px; margin-top: 0px;">
        <legend for="network6">Regional Bus</legend>
        <div class="form-group" style="margin-bottom: 0px; margin-top: 0px;">
            <label for="network6_icon">Station Icons</label>
            <input id="network6_icon" ng-model="$ctrl.networks.network6.showIcons" type="checkbox" />
        </div>
        <div class="form-group" style="margin-bottom: 0px; margin-top: 0px;">
            <label for="network6_line">Routes</label>
            <input id="network6_line" ng-model="$ctrl.networks.network6.showLines" type="checkbox" />
        </div>
    </fieldset>
    <fieldset ng-hide="$ctrl.isMobile" class="form-group" style="margin-bottom: 0px; margin-top: 0px;">
        <legend for="network7">TeleBus</legend>
        <div class="form-group" style="margin-bottom: 0px; margin-top: 0px;">
            <label for="network7_icon">Station Icons</label>
            <input id="network7_icon" ng-model="$ctrl.networks.network7.showIcons" type="checkbox" />
        </div>
        <div class="form-group" style="margin-bottom: 0px; margin-top: 0px;">
            <label for="network7_line">Routes</label>
            <input id="network7_line" ng-model="$ctrl.networks.network7.showLines" type="checkbox" />
        </div>
    </fieldset>
    <fieldset ng-hide="$ctrl.isMobile" class="form-group" style="margin-bottom: 0px; margin-top: 0px;">
        <legend for="network8">Night Bus</legend>
        <div class="form-group" style="margin-bottom: 0px; margin-top: 0px;">
            <label for="network8_icon">Station Icons</label>
            <input id="network8_icon" ng-model="$ctrl.networks.network8.showIcons" type="checkbox" />
        </div>
        <div class="form-group" style="margin-bottom: 0px; margin-top: 0px;">
            <label for="network8_line">Routes</label>
            <input id="network8_line" ng-model="$ctrl.networks.network8.showLines" type="checkbox" />
        </div>
    </fieldset>
    <fieldset ng-hide="$ctrl.isMobile" class="form-group" style="margin-bottom: 0px; margin-top: 0px;">
        <legend for="network10">Interstate</legend>
        <div class="form-group" style="margin-bottom: 0px; margin-top: 0px;">
            <label for="network10_icon">Station Icons</label>
            <input id="network10_icon" ng-model="$ctrl.networks.network10.showIcons" type="checkbox" />
        </div>
        <div class="form-group" style="margin-bottom: 0px; margin-top: 0px;">
            <label for="network10_line">Routes</label>
            <input id="network10_line" ng-model="$ctrl.networks.network10.showLines" type="checkbox" />
        </div>
    </fieldset>
    <fieldset ng-hide="$ctrl.isMobile" class="form-group" style="margin-bottom: 0px; margin-top: 0px;">
        <legend for="network11">Skybus</legend>
        <div class="form-group" style="margin-bottom: 0px; margin-top: 0px;">
            <label for="network11_icon">Station Icons</label>
            <input id="network11_icon" ng-model="$ctrl.networks.network11.showIcons" type="checkbox" />
        </div>
        <div class="form-group" style="margin-bottom: 0px; margin-top: 0px;">
            <label for="network11_line">Routes</label>
            <input id="network11_line" ng-model="$ctrl.networks.network11.showLines" type="checkbox" />
        </div>
    </fieldset>
</div>